<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sign Up For Game of Life</title>
</head>
<body>
    {% for flash_msg in get_flashed_messages() %}
        <div class="flash">{{ flash_msg }}</div>
    {% endfor %}
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username() }}
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %} <br>
        {{ form.password.label }} {{ form.password() }}
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %} <br>
        {{ form.confirm_pw.label }} {{ form.confirm_pw() }}<br>
        {{ form.submit() }}
    </form>
</body>
</html>